In [ ]:
import numpy as np
import pandas as pd

Q.1 Create a 1D array of numbers from 0 to 9

In [ ]:
arr1=np.arange(0,10)
arr1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Q.2 Create a 3×3 numpy array of all True’s

In [ ]:
arr2=np.ones((3,3), dtype=bool)
arr2

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

Q.3 Extract all odd numbers from arr
	Input:
	arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
ind=np.where(arr%2==1)
arr[ind]

array([1, 3, 5, 7, 9])

Q.4 Replace all odd numbers in arr with -1
	Input:
	arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
ind=np.where(arr%2==1)
arr[ind]=-1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

Q.5 Convert a 1D array to a 2D array with 2 rows
	Input:
	arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr5=arr.reshape(2,5)
arr5

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

Q.NO.1] Define the different ways a DataFrame can be created in pandas?

In [ ]:
#1  Creating  Dataframe from Lists
list1=[1,2,3,4]
df1=pd.DataFrame(list1)
print("df1")
print(df1)
print("===========")
#2

df2=pd.DataFrame([1,2,3,4,5,6])
print("df2")
print(df2)
print("===========")

#3: Creating Pandas DataFrame from lists of lists.
list2 = [['Twinkal', 19], ['yukti', 20], ['varsha', 21], ['vaidehi', 21]]
df3 = pd.DataFrame(list2, columns=['Name', 'Age'])
print("df3")
print(df3)

print("===========")
#4: Creating DataFrame from dict
dict={"Sub":['m1','m2','m3'], "marks":[80,90,92]}
df4=pd.DataFrame(dict)
print("df4")
print(df4)

print("============")
 #5: Creating a DataFrame by proving index label explicitly.
dict={"Sub":['m1','m2','m3'], "marks":[80,90,92]}
df5 =pd.DataFrame(dict, index=['A','B','C'])
print("df5")
print(df5)

print("=================")
#6: Creating Dataframe from list of dicts
dict1 = [{'Python': 80, 'java': 89, 'SQL': 79},{'Python': "A", 'java': "A+", 'SQL': "B"}]
df6 = pd.DataFrame(dict1)
print("df6")
print(df6)


print("=================")
#7: Creating Dataframe from list of dicts
dict1 = [{'Python': 80, 'java': 89, 'SQL': 79},{'Python': "A", 'java': "A+", 'SQL': "B"}]
df7 = pd.DataFrame(dict1, index=['sub','grade'])
print("df7")
print(df7)

df1
   0
0  1
1  2
2  3
3  4
===========
df2
   0
0  1
1  2
2  3
3  4
4  5
5  6
===========
df3
      Name  Age
0  Twinkal   19
1    yukti   20
2   varsha   21
3  vaidehi   21
===========
df4
  Sub  marks
0  m1     80
1  m2     90
2  m3     92
============
df5
  Sub  marks
A  m1     80
B  m2     90
C  m3     92
=================
df6
  Python java SQL
0     80   89  79
1      A   A+   B
=================
df7
      Python java SQL
sub       80   89  79
grade      A   A+   B

Q.NO.2] How will you create an empty DataFrame in Pandas?

In [ ]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

Q.NO.3] What are the key features of pandas library ?
ANS:

1. Fast and efficient DataFrame object with default and customized indexing.
2. Tools for loading data into in-memory data objects from different file formats.
3. Data alignment and integrated handling of missing data.
4. Reshaping and pivoting of date sets.
5. Label-based slicing, indexing and subsetting of large data sets.
6. Columns from a data structure can be deleted or inserted.
7. Group by data for aggregation and transformations.
8. High performance merging and joining of data.
Time Series functionality.

Q.NO.4] Write a Pandas program to rename columns of a given DataFrame.

Sample data:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 9
New DataFrame after renaming columns:
Column1 Column2 Column3
0 1 4 7
1 2 5 8
2 3 6 9

In [ ]:
data=[[0, 1, 4],[ 7, 1, 2],[ 5, 8, 2],[ 3, 6, 9]]
df1=pd.DataFrame(data,columns=['col1','col2','col3'])
print(df1)
print("========================")
df2=pd.DataFrame(data,columns=['Column1', 'Column2', 'Column3'])
print(df2)

   col1  col2  col3
0     0     1     4
1     7     1     2
2     5     8     2
3     3     6     9
========================
   Column1  Column2  Column3
0        0        1        4
1        7        1        2
2        5        8        2
3        3        6        9

Q.NO.5] Write a Pandas program to convert a dictionary to a Pandas series.

SSample dictionary: d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
d1=pd.Series(d1)
DF=pd.DataFrame(d1)
DF

     0
a  100
b  200
c  300
d  400
e  800


Q.No.1 Cricketer's scores in five ODI matches are as follows:
12, 34, 45, 50, 24.
calculate mean of data using the R and python:

In [ ]:
odi=[12, 34, 45, 50, 24]
DF1=pd.DataFrame(odi)
print("mean: ",DF1.mean())

mean:  0    33.0
dtype: float64

Q.No.2 Write down Difference Between Mean, Median and Mode(with Example).

S.No	Mean	Median	Mode

1	The average taken of given observations is called Mean. 	The middle number in a given set of observations is called Median.	The most frequently occurred number in a given set of observations is called mode.

2	Add up all the numbers and divide by the total number of terms	Place all the numbers in ascending or descending order 	 the mode is derived when a number has frequency occurred in a series

3	 Once the above step is finished, what we get is the mean.	After arranging everything from smallest to biggest, take out the middle number, which is your median.	The mode can be one or more than one. It is possible to have no mode at all, as well

4	Mean is the arithmetic mean or in a  simple way can be a simple average or weighted average. 	When series have even numbers, median is the simple average of the middle pair of numbers. 	If there is a unique data set, there is no mode at all.

5	When data is normally distributed, the mean is widely preferred.	When data distribution is skewed, median is the best representative.	When there is a nominal distribution of data, the mode is preferred.

6	Mean= x̄ = ∑x/ N	
If the total number of observations (n) are odd then median is:

Median = (n + 1/2)th observation  

If the total number of observations (n) are even number, then the formula is given below:

Median = (n/2)th observation + (n/2+1)th observation /2

The mode is the most frequently occurring observation or value

Q.No.1 Daily Closing Prices of Two Stocks arranged as per returns. So calculate Covariance using R and Formula.
	 
	x: 1.8 , 1.5, 2.1 , 2.4 , 0.2
	y: 2.5 , 4.3 , 4.5 , 4.1 ,2.2

In [ ]:
x=[1.8 , 1.5, 2.1 , 2.4 , 0.2]
y=[ 2.5 , 4.3 , 4.5 , 4.1 ,2.2]
Conv=np.cov(x,y)[0][1]
Conv

0.6299999999999999

Q.No.2 Write down Difference Between Covariance and Correlation

Covariance shows  how the two variables differ, whereas correlation shows you how the two variables are related. 
Covariance::Covariance is a statistical term that refers to a systematic relationship between two random variables in which a change in the other reflects a change in one variable.

The covariance value can range from -∞ to +∞, with a negative value indicating a negative relationship and a positive value indicating a positive relationship.

Correlation::
It  is a measure that determines the degree to which two or more random variables move in sequence. When an equivalent movement of another variable reciprocates the movement of one variable in some way or another during the study of two variables, the variables are said to be correlated