In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Importing Text File
data_df=pd.read_csv('data.txt',sep=",", header=None)
data_df

   0   1   2   3    4   5   6   7   8   9   10  11  12  13  14  15  16  17
0   1  13  21  11  196  75   4   3  34   6   7   8   0   1   2   3   4   5
1   3  42  12  33  766  75   4  55   6   4   3   4   5   6   7   0  11  12
2   1  22  33  11  999  11   2   1  78   0   1   2   9   8   7   1  76  88

In [ ]:
#Importing CSV File with Header
ex1_df=pd.read_csv('ex1.csv')
ex1_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
#Importing CSV File without Header
ex2_df=pd.read_csv('ex2.csv',header=None)
ex2_df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [ ]:
#Assigning column names to DataFrame
ex2_df.columns=['A','B',"c","D",'E']

In [ ]:
ex2_df

   A   B   c   D      E
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [ ]:
#Assigning index to a DataFrame
ex2_df.index=ex2_df.E

In [ ]:
ex2_df

       A   B   c   D      E
E
hello  1   2   3   4  hello
world  5   6   7   8  world
foo    9  10  11  12    foo

In [ ]:
#Reading Text File
ex3_df=pd.read_csv('ex3.txt',sep=" ")
ex3_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,B,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,C
0,aaa,-0.264438,-1.026059,-0.619500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bbb,NaN,0.927272,NaN,0.302904,-0.032399,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ccc,-0.264273,-0.386314,-0.217601,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ddd,-0.871858,-0.348382,NaN,1.100491,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Checking Unique values in clumn and its count
ex3_df['Unnamed: 3'].value_counts()

-0.619500    1
-0.217601    1
Name: Unnamed: 3, dtype: int64

In [ ]:
#checking for null values in dataframe for each column
ex3_df.isnull().sum()

Unnamed: 0     0
Unnamed: 1     1
Unnamed: 2     0
Unnamed: 3     2
Unnamed: 4     2
Unnamed: 5     3
Unnamed: 6     4
Unnamed: 7     4
Unnamed: 8     4
Unnamed: 9     4
Unnamed: 10    4
Unnamed: 11    4
A              4
Unnamed: 13    4
Unnamed: 14    4
Unnamed: 15    4
Unnamed: 16    4
Unnamed: 17    4
Unnamed: 18    4
Unnamed: 19    4
Unnamed: 20    4
B              4
Unnamed: 22    4
Unnamed: 23    4
Unnamed: 24    4
Unnamed: 25    4
Unnamed: 26    4
Unnamed: 27    4
Unnamed: 28    4
Unnamed: 29    4
C              4
dtype: int64

In [ ]:
#Importing CSV file
ex4_df=pd.read_csv('ex4.csv')
ex4_df

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [ ]:
#Importing CSV file
ex5_df=pd.read_csv('ex5.csv')
ex5_df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
#Assigning index to a DataFrame
ex5_df.index=ex5_df.something

In [ ]:
ex5_df

          something  a   b     c   d message
something
one             one  1   2   3.0   4     NaN
two             two  5   6   NaN   8   world
three         three  9  10  11.0  12     foo

In [ ]:
#Importing CSV file
ex6_df=pd.read_csv('ex6.csv')
ex6_df

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [ ]:
#Checking for column names
ex6_df.columns

Index(['one', 'two', 'three', 'four', 'key'], dtype='object')

In [ ]:
#making list of new column names
list=['H_one', 'H_two', 'H_three', 'H_four', 'H_key']

In [ ]:
#Assigning new column nnames to Dateframe
ex6_df.columns=list

In [ ]:
#checking new column names
ex6_df.columns

Index(['H_one', 'H_two', 'H_three', 'H_four', 'H_key'], dtype='object')

In [ ]:
ex6_df

         H_one     H_two   H_three    H_four H_key
0     0.467976 -0.038649 -0.295344 -1.824726     L
1    -0.358893  1.404453  0.704965 -0.200638     B
2    -0.501840  0.659254 -0.421691 -0.057688     G
3     0.204886  1.074134  1.388361 -0.982404     R
4     0.354628 -0.133116  0.283763 -0.837063     Q
...        ...       ...       ...       ...   ...
9995  2.311896 -0.417070 -1.409599 -0.515821     L
9996 -0.479893 -0.650419  0.745152 -0.646038     E
9997  0.523331  0.787112  0.486066  1.093156     K
9998 -0.362559  0.598894 -1.843201  0.887292     G
9999 -0.096376 -1.012999 -0.657431 -0.573315     0

[10000 rows x 5 columns]